<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hkit.pms.mapper.human.VacationMgtMapper">
	<select id="readList" resultType="kr.hkit.pms.domain.human.VacationMgtDto">
		<![CDATA[
		select 
			idx, vac_sn, vac_nm, vac_str, vac_end, vac_type, vac_cnt
		from (
			select  
				rownum rn, idx, vac_sn, vac_nm, vac_str, vac_end, vac_type, vac_cnt
			from 
				tb_vac
			where rownum <= (#{pageNum, jdbcType=NUMERIC} * #{amount, jdbcType=NUMERIC})
		) where rn > (#{pageNum, jdbcType=NUMERIC}-1) * #{amount, jdbcType=NUMERIC}
		]]>
	</select>
</mapper>